@charset "utf-8";
/* CSS Document */
/* ESTILOS GENERALES*/
p, a, li, h1, h2, h3, h4, h5, h6{
	font-family: "Anime Ace 2.0 BB";
}


/* Estilos para la cabecera */
.cabecera {
    background-color: #333; /* Color de fondo de la cabecera */
    padding: 20px 0; /* Espaciado interno de la cabecera */
    text-align: center; /* Centrar el contenido horizontalmente */
}
.menu {
    position: relative; /* Ajusta la posición del menú */
    top: 0; /* Posiciona el menú en la parte superior */
    left: 0; /* Posiciona el menú en la parte izquierda */
    z-index: 999; /* Asegura que el menú esté en la parte superior */
}
/* Estilos para el menú principal */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block; /* Mostrar elementos del menú en línea */
    position: relative;
    margin-right: 20px; /* Espaciado entre elementos del menú */
}

.menu ul li a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    padding: 10px; /* Espaciado interno de los enlaces */
}


/* Estilos para el menú desplegable */
.menu ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* Color de fondo del menú desplegable */
    padding: 10px;
    border: 1px solid #ccc; /* Borde del menú desplegable */
	z-index: 999; /* Asegura que el menú desplegable esté en la parte superior */

}
.menu ul li:hover ul {
    display: block;
}
.menu ul li ul li {
    display: block;
    margin: 8px 0; /* Espaciado vertical entre elementos del menú desplegable */
    border-bottom: 1px solid #000000; /* Línea de separación en la parte inferior */

}

.menu ul li ul li a {
    color: #333; /* Color del texto del menú desplegable */
    text-decoration: none; /* Quitar subrayado de los enlaces */
	display: block; /* Hace que los enlaces ocupen todo el ancho del menú */
    padding: 8px 15px; /* Espaciado interno de los enlaces */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}
.menu ul li ul li a:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
}

/*PARALLAX*/
.parallax{
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-image:url("../img/parallax.jpg");
	background-attachment:fixed;
	background-size: cover /*1600px 600px*/;
	padding-top: 100px;
	
}

.parallax h3{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
	
	
}



