@charset "utf-8";
/* CSS Document */
/* ESTILOS GENERALES*/
p, a, li, h1, h2, h3, h4, h5, h6{
	font-family: "Anime Ace 2.0 BB";
}


/* Estilos para la cabecera */
.cabecera {
    background-color: #333; /* Color de fondo de la cabecera */
    padding: 20px 0; /* Espaciado interno de la cabecera */
}

/* Estilos para el menú principal */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px; /* Espaciado entre elementos del menú */
}

.menu ul li a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    padding: 10px; /* Espaciado interno de los enlaces */
}

.menu ul li:hover ul {
    display: block;
}

/* Estilos para el menú desplegable */
.menu ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* Color de fondo del menú desplegable */
    padding: 10px;
    border: 1px solid #ccc; /* Borde del menú desplegable */
}

.menu ul li ul li {
    display: block;
    margin: 0;
}

.menu ul li ul li a {
    color: #333; /* Color del texto del menú desplegable */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}



/*PARALLAX*/
.parallax{
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-image:url("../img/parallax.jpg");
	background-attachment:fixed;
	background-size: cover /*1600px 600px*/;
	padding-top: 100px;
	
}

.parallax h3{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
	
	
}
/*PLAZA DE COSAS*/
.plaza{	
	width: 1200px;
	margin: auto;
	overflow: hidden;
	/*border: 1px solid red;*/
}

.plaza img{
	float: left;
}
.plaza h3{
	color: black;
	text-align: center;
	margin-top: 20px;
	margin-bottom: -5px;

}

.plaza1{
}
.plaza2{
}


